{% extends 'Produtos/base.html' %}
{% block conteudo %}
<h1 style="text-align: center;">Informação do Produto</h1>
<div class="container">
    <table class="table table-hover table-bordered">
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Data</th>                                         
        </tr>
        <tr>
            <td>{{dados.id}}</td>
            <td>{{dados.nome_produto}}</td>
            <td>{{dados.preco_produto}}</td>
            <td>{{dados.categoria_produto}}</td>
            <td>{{dados.data_in}}</td>
        </tr>
    </table>
</div>
{% endblock %}