<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <h1>Informação do Produto</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Data</th>                                         
        </tr>
        <tr>
            <td>{{dados.id}}</td>
            <td>{{dados.nome_produto}}</td>
            <td>{{dados.preco_produto}}</td>
            <td>{{dados.categoria_produto}}</td>
            <td>{{dados.data_in}}</td>
        </tr>
    </table> 
</body>
</html>