<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Preço</th>                                         
        </tr>
        {% for dado in dados %}
        <tr>
            <td>{{dado.id}}</td>
            <td>{{dado.nome_produto}}</td>
            <td>{{dado.preco_produto}}</td>
            <td><button><a href="{% url 'info' dado.id %}">Info</a></button></td>
        </tr>
        {% endfor %}
    </table>  
</body>
</html>